@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



.btn.btn-primary {
  background-color: #333333;
  border-color: #333333;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #111111;
  border-color: #111111;
}
.btn.btn-info {
  background-color: #333333;
  border-color: #333333;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info.focus,
.btn.btn-info:active,
.btn.btn-info.active {
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn.btn-success {
  background-color: #dbdbdb;
  border-color: #dbdbdb;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success.focus,
.btn.btn-success:active,
.btn.btn-success.active {
  background-color: #b5b5b5;
  border-color: #b5b5b5;
}
.btn.btn-warning {
  background-color: #f44336;
  border-color: #f44336;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning.focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
  background-color: #d2190b;
  border-color: #d2190b;
}
.btn.btn-danger {
  background-color: #000000;
  border-color: #000000;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger.focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: #000000;
  border-color: #000000;
}
.text-primary {
  color: #333333 !important;
}
.text-info {
  color: #333333 !important;
}
.text-success {
  color: #dbdbdb !important;
}
.text-warning {
  color: #f44336 !important;
}
.text-danger {
  color: #000000 !important;
}
a {
  color: #333333;
}
a:hover,
a:focus,
a.focus,
a:active,
a.active {
  color: #0d0d0d;
}
.mbr-primary-color,
.s2-box:hover .s2-box-ico div,
.content8 .nav-tabs > li > a::after,
.extFooter1 ul li:before,
.mbr-gallery-filter li:hover,
.extFooter1 ul li a:hover {
  color: #333333 !important;
}
.navbar-nav > li > a:hover,
.dropdown1-menu > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu a:hover,
.nav-tabs > li.active > a,
.content8 .nav-tabs > li.active > a {
  color: #333333 !important;
}
.cta-wrap.bg-dark .cta-btn.btn-default:hover,
.cta-wrap .cta-btn.btn-default:hover,
.mbr-primary-bgColor,
.nav-tabs > li > a::after,
.services-s5 .service-content:hover i {
  background: #333333 !important;
}
blockquote {
  border-left-color: #333333;
}
.process-step2 .btn-circle:hover,
.process-step2 .btn-info,
.mbr-slider .carousel-control:hover {
  background: #333333 !important;
  border-color: #333333 !important;
}
.services-s5 .service-content:hover i:after,
.cta-wrap.bg-dark .cta-btn:hover,
.cta-wrap.bg-primary .cta-btn:hover,
.nav-link.btn.btn-primary:hover {
  border-color: #333333;
}
.mbr-gallery-filter li.active {
  color: #333333;
  border-color: #333333;
}
.cta-wrap .cta-btn.btn-default:hover,
.cta-wrap.bg-dark .cta-btn.btn-default:hover {
  background: #333333;
  border-color: #333333;
}
.mbr-title-font,
.mbr-gallery-filter li {
  font-family: 'Montserrat', sans-serif !important;
}
.mbr-text-font,
p {
  font-family: 'Raleway', sans-serif !important;
}
#dropdown-menu-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-12 .nav .link,
#dropdown-menu-12 .dropdown-item {
  font-size: 1em;
  color: #dbdbdb;
}
#dropdown-menu-12 .navbar,
#dropdown-menu-12 .dropdown-menu {
  background: #333;
}
#dropdown-menu-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-12 .dropdown-menu a:hover,
#dropdown-menu-12 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-12 .navbar-toggler {
  color: #dbdbdb;
}
#header6-2 H3 {
  text-align: center;
}
#header6-2 B {
  font-size: 72px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
}
#header6-2 P {
  text-align: center;
  color: #dbdbdb;
  font-size: 20px;
}
#msg-box1-16 H2 {
  color: #ffffff;
}
#contacts1-15 DIV {
  color: #dbdbdb;
}
#contacts1-15 H1 {
  color: #dbdbdb;
}
#contacts1-15 .contact-info i {
  color: #dbdbdb !important;
}
